<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% Object.keys(compilation.assets).every((key) => { %>
      <% if (key.match(/favicon/)){ %>
        <link rel="icon" href="<%= key %>" />
      <% return false } %>
    <% return true }) %>
  </head>
  <body class="skin-blue fixed sidebar-mini">
    <div id="app"></div>
  </body>
</html>
